.wrapper {
  margin: 0 auto;
  width: 80%;
}

.videowrapper {
  z-index: var(--z-normal);
  position: relative;

  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  z-index: var(--z-back);
  position: absolute;
  left: 0px;
  top: 45px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}
